html {
  font-family: Montserrat, sans-serif;
}

header {
  background-color: #5f4c7f;
  background-size: cover;
  min-height: 150px;
  background-position: 25% 0%;
  border-bottom: 10px double #fff;
}

body {
  color: #000;
}

h1 {
  color: #fff;
  text-align: center;
  bottom: 120px;
  letter-spacing: 15px;
}

.white {
  color: #fff;
}

.purple {
  color: #7b65ae;
}

h3 {
  text-align: center;
  bottom: 70px;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: #069;
  border: none;
  color: #fff;
  border-radius: 8px;
}

footer {
  background-color: #5f4c7f;
  color: #fff;
  border-top: 10px double #fff;
}

.black {
  background-color: #a3a5a9;
  color: #fff;
}

.blue {
  background-color: #a3a5a9;
  color: #fff;
}

hr {
  border: 0;
  border-bottom: 1px dashed #b8a7dd;
  background: #999;
}

.card {
  border: 3px solid #5f4c7f;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
}

.card-one {
  color: #000;
  background-color: #fff;
  border-radius: 8px;
}

img {
  border-radius: 6px;
}

th {
  border: none;
}

a:hover {
  background-color: #b8a7dd;
  border-radius: 8px;
}

.btn:hover {
  background-color: #b8a7dd;
  color: #fff;
}

button:hover {
  background-color: #b8a7dd;
}

a > i:hover {
  background-color: #b8a7dd;
  border-radius: 8px;
}

section h2 {
  background-color: #fff;
  opacity: .8;
}

main div section {
  background-color: #fff;
  opacity: .8;
  padding-top: 15px;
  border-radius: 8px;
  color: #000;
}

span {
  padding-top: 6px;
  width: 1rem;
}

.icon {
  width: 6rem;
  height: 5rem;
  top: 17px;
}

.nav-card {
  color: #fff;
  padding: .3rem;
  border-radius: 8px;
  border: 3px solid #b8a7dd;
}

nav > ul > li > a {
  width: 5rem;
}

.social {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.marketo {
  padding: 2rem;
  max-width: 100%;
  padding-bottom: 0;
}
